---
// SCSS
const theme = "./src/styles/main-grid-dark.scss";
import "../styles/global.scss";
import "../styles/tailwind.css";
import "../styles/background-stars.scss";

// IMAGES
import { Picture } from "astro:assets";
import linkedin from "../assets/images/linkedin.svg";
import github from "../assets/images/github.svg";
import github_white from "../assets/images/github_white.svg";
import instagram from "../assets/images/instagram.svg";
import x from "../assets/images/x.svg";
import x_white from "../assets/images/x_white.svg";
import twitch from "../assets/images/twitch.svg";
import viewnext from "../assets/images/viewnext.png";
import junta_andalucia from "../assets/images/junta_andalucia.svg";
import ec from "../assets/images/european_commission.svg";
import ual from "../assets/images/ual.png";
import ugr from "../assets/images/ugr.svg";
---

<link
    slot="grid_theme_scss"
    id="grid_theme_scss"
    rel="stylesheet"
    href={theme}
/>

<div slot="background_stars" class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>

<main class="main__grid">
    <section class="grid__bio">
        <div class="bio__title">
            HOLA! HELLO! SALUT! HALLO! ԲԱՐԵՎ!
        </div>
        <div class="bio__info">
            <div class="info__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit sequi cumque magni reiciendis doloribus ipsam eum obcaecati. Consectetur aut harum consequatur iste assumenda, at corporis nisi voluptatibus quos necessitatibus quae.</div>
            <div class="info__photo">FOTO</div>
        </div>
    </section>
    <section class="grid__socials">
        <Picture src={linkedin} alt="LinkedIn" class="socials__icon" />
        <span>
            <Picture
                src={github}
                id="github_black_logo"
                alt="GitHub"
                class="socials__icon display_none"
            />
            <Picture
                src={github_white}
                id="github_white_logo"
                alt="GitHub white"
                class="socials__icon"
            />
        </span>
        <Picture src={instagram} alt="Instagram" class="socials__icon" />
        <span>
            <Picture
                src={x}
                id="x_black_logo"
                alt="X"
                class="socials__icon display_none"
            />
            <Picture
                src={x_white}
                id="x_white_logo"
                alt="X"
                class="socials__icon"
            />
        </span>
        <Picture src={twitch} alt="Twitch" class="socials__icon" />
    </section>
    <section id="grid__funct_1" class="grid__funct_1"></section>
    <section class="grid__hobbies">
        <div class="hobbies__title">HOBBIES</div>
        <div class="hobbies__info">
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, minima.</div>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, excepturi.</div>
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, odit.</div>
        </div>
    </section>
    <section id="grid__funct_2" class="grid__funct_2"></section>
    <section class="grid__techs"></section>
    <section class="grid__lang"></section>
    <section class="grid__experience"></section>
    <section id="grid__funct_3" class="grid__funct_3"></section>
    <section id="grid__funct_4" class="grid__funct_4"></section>
    <section class="grid__footer"></section>
    <section class="grid__cc"></section>
</main>

<script client:only src="./src/js/change-style.js"></script>
